
.DivHome {
    width: 24%;
    height: 34em;
    margin: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 15em;
    top: -1em;
}
.inputDate{
  
        width: 13em;
        height: 2em;
   
}
.img{
    
        width: 49em;
        position: absolute;
        left: 17em;
        top: 4em;
    
}
.btnhome{
 width: 12em;
 height: 3em;
 margin: 3em;   
}

input {
    width: 13em;
    height: 2em;
    margin-bottom: 11px;
    margin-top: 2px;
}
.btn {
    background: #c9c9ff;
    border: none;
    /* margin-top: 26em; */
    /* margin-left: 0em; */
    position: absolute;
    top: 33em;
    width: 11em;
    left: 5.5em;
    height: 2.3em;
    border-radius: 6px;
    cursor: pointer;
    color: black;
}
.h1Home {
    position: absolute;
    top: 2.4em;
    width: 225px;
    left: 2.5em;
    font-size: 20px;
}
.laberHome {
    position: absolute;
    left: 3.3em;
    top: 7em;
    /* text-align: center; */
}
#btnrender{
    left: 33em;

}
.divResult {
    position: absolute;
    left: 43em;
    top: 10em;
}
.divHomeResult {
    position: absolute;
    width: 13em;
    height: 22em;
    box-shadow: 1px 0px 8px black;
    left: 45em;
   
    top: 7em;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.user{
    border-bottom: 1px solid;
}

.btn:hover{
    transform: scale(1.1)
}